<div class="container-fluid">
    <div class="jumbotron bg-transparent text-center margin-none">
        <h1>Parallax</h1>
        <p class="lead">Parallax scrolling is a motion technique where images and other layers move at different speeds than other elements on page, creating an illusion of depth in a 2D scene and adding to the immersion.</p>
    </div>
</div>

<div class="container-fluid">
    <h4 class="page-section-heading">Single image layer</h4>
</div>

<div class="parallax cover overlay cover-image-full">
    <img class="parallax-layer" src="images/photodune-4161018-group-of-students-m.jpg" alt="Learning Cover" />
</div>

<div class="container-fluid">
    <h4 class="page-section-heading">Image layer with content layer</h4>
</div>

<div class="parallax cover overlay cover-image-full">
    <img class="parallax-layer" src="images/photodune-4161018-group-of-students-m.jpg" alt="Learning Cover" />
    <div class="parallax-layer overlay overlay-full overlay-bg-white bg-transparent">
        <div class="v-center">
            <div class="page-section overlay-bg-white-strong relative max-width-1000 h-center">
                <h1 class="text-display-2 margin-v-0-15 display-inline-block">Courses for Web &amp; Mobile</h1>
                <p class="text-subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur consequatur distinctio earum ipsam.</p>
                <a class="btn btn-green-500 btn-lg" href="#">Sign Up - Only &dollar;19.00/mo</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h4 class="page-section-heading">Image layer, fading content layer and increased movement speed for the content layer</h4>
</div>

<div class="parallax cover overlay cover-image-full">
    <img class="parallax-layer" src="images/photodune-4161018-group-of-students-m.jpg" alt="Learning Cover" />
    <div class="parallax-layer overlay overlay-full overlay-bg-white bg-transparent" data-opacity="true" data-speed="8">
        <div class="v-center">
            <div class="page-section overlay-bg-white-strong relative max-width-1000 h-center">
                <h1 class="text-display-2 margin-v-0-15 display-inline-block">Courses for Web &amp; Mobile</h1>
                <p class="text-subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur consequatur distinctio earum ipsam.</p>
                <a class="btn btn-green-500 btn-lg" href="#">Sign Up - Only &dollar;19.00/mo</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h4 class="page-section-heading">Mixed cover with parallax example #1</h4>
</div>

<div class="relative overflow-hidden">
    {% include "tk-cover/html/covers/navbar.html" {
        navId: "1",
        navbarOptions: "navbar-skin-cover" } %}

    {% include "tk-cover/html/covers/cover-image.html" {
        overlayTitle: "Light text cover",
        overlayText: "When using dark color based images, we need light text color overlay and light text color top-level nav items.",
        coverImageOptions: "parallax-layer",
        coverOptions: "parallax max-height-8000 height-550-xs",
        overlayOptions: "overlay-bg-black parallax-layer",
        overlayData: "data-opacity=true" } %}
</div>

<div class="container-fluid">
    <h4 class="page-section-heading">Mixed cover with parallax example #2</h4>
</div>

<div class="relative overflow-hidden max-width-10002 h-center">

    {% include "tk-cover/html/covers/navbar.html" {
        navId: "2",
        navbarOptions: "navbar-skin-cover navbar-skin-cover-white" } %}

    {% include "tk-cover/html/covers/cover-image.html" {
        coverOptions: "parallax max-height-8000 height-800-xs",
        overlayOptions: "overlay-bg-white-strong parallax-layer",
        coverImage: "images/photodune-2626329-dog-watching-a-movie-m.jpg",
        coverImageOptions: "parallax-layer",
        overlayTitle: "Dark text cover",
        overlayText: "When using light color based images, we need dark text color overlay and dark text color top-level nav items.",
        overlayData: "data-opacity=true" } %}

</div>

<div class="height-700 bg-grey-300 display-table width-100pc text-center s-container">
    <div class="v-cell">
        <h2>Empty placeholder</h2>
        <p>This placeholder is here only to facilitate scrolling past the last parallax example.</p>
    </div>
</div>

<div class="height-700 bg-grey-300 display-table width-100pc text-center">
    <div class="v-cell">
        <h2>Empty placeholder</h2>
        <p>This placeholder is here only to facilitate scrolling past the last parallax example.</p>
    </div>
</div>